/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    color: white;
    background-color: black;
}

/* Typography */

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h3 {
    font-size: 21px;
    color: grey;
    font-weight: normal;
}

p {
    margin-bottom: 1rem;
}

a {
    color: aquamarine;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

footer {
    color: grey;
    padding: 1rem 1rem;
}

/* Lists */
ul,
ol {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    padding: 1rem 0;
}

/* Videos */
video {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
}

/* Forms */
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
}

/* Utility Classes */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}